@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered Customers</h2>

<p>
    @Html.ActionLink("Create New", "Add", "Customers", null, new {@class = "btn btn-primary"})
</p>

<p class="lead text-center" id="no-customers">
    @* It will show up a message with no customers are registered. *@
</p>

<table id="customers" class="table table-striped table-bordered table-responsive">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            Membership Type
        </th>
        <th class="text-center">
            Discount Rate
        </th>
        <th class="text-center">
            Options
        </th>
    </tr>
</table>

<hr />
<h5>This Customer Pages are showed from APIs requests</h5>

@section scripts
{
    <script>
        $(document).ready(function () {

            // Getting customers
            $.ajax({
                url: "http://localhost:5000/api/customers",
                method: "GET",
                success: function (data) {
                    console.log("Data received from /api/customers: ", data);
                    // There are data to show up
                    var employeeData = '';
                    var index = 0;
                    $.each(data, function (key, value) {
                        employeeData += "<tr class='text-center'>";
                        employeeData += '<td>' + value.name + '</td>';
                        employeeData += '<td>' + value.membershipType.name + '</td>';
                        employeeData += '<td>' + value.membershipType.discountRate + ' % </td>';
                        employeeData += '<td>' +
                            '<a href=\'Customers/Edit/' + value.id + '\'>Edit</a> - ' +
                            '<a href=\'Customers/Details/' + value.id + '\'>Details</a> - ' +
                            '<button data-customer-id=' + value.id + ' class=\"js-delete button-design\">' +
                            '<a>Delete</a></button>' +
                            '</td>';
                        employeeData += '</tr>';
                        index += 1;
                    });

                    if (index !== 0) {
                        $('#customers').append(employeeData);
                    } else {
                        // There are no customers registered
                        $('#no-customers')
                        .append("We don't have any Customer registered temporaly.");
                        $('#customers').remove();
                    }
                }

            });

            // Deleting a Customer
            $("#customers").on("click", ".js-delete", function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this customer?",
                        function(result) {
                            if (result) {
                                // We get deleted the Row with the Customer info
                                $.ajax({
                                    url: "http://localhost:5000/api/customers/" + $(button).attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                        console.log("Customer deleted successfully");
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

<style>
    .button-design {
        background: none; border: none; padding: 0;
    }
</style>