<appSettings>
  <add key="FacebookAppId" value="1684846381613790" />
  <add key="FacebookAppSecret" value="80b7d6e283f3f155a7fce1109d514dce"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>